OG_PRIVATE_KEY=replace_with_your_opengradient_private_key
GITHUB_CLIENT_ID=replace_with_your_github_oauth_client_id
GITHUB_CLIENT_SECRET=replace_with_your_github_oauth_client_secret
SESSION_SECRET=replace_with_a_long_random_secret
BASE_URL=http://127.0.0.1:8000
OG_PAYMENT_NETWORK=base_sepolia
OG_ENABLE_VERIFIED_REASONING=true